.backButton {
    margin-top: 20px;
    button {
        background-color: white;
        color: #1976d2;
        font-size: 20px;
        padding: 0px;
        i {
            color: #1976d2;
            margin-left: -6px;
        }
    }
}