<div *ngIf="userLoged">
    <h2>Products</h2>
    <div class="container">
        <div class="filterSection">
            <input type="text" [(ngModel)]="searchText" placeholder="Filtra per categoria" />
        </div>
    </div>
    <!-- choosed to create a pipe in order to recycle it in multiple views, with
    that pipe we can change the parameter for the filter, in this case we are using 'category',
    but it can be, name, id etc
    -->

    <app-list-of-products [productList]="products" [filterText]="searchText"></app-list-of-products>
</div>
<div *ngIf="!userLoged">
    <h2>User not logged in</h2>
</div>